<div class="btns">
	<%= link_to "我要分享", new_publication_path, :class => "btn btn-primary" %>
</div>
<table class="table table-hover">
	<%= render (@publications) %>
</table>
<div class="row-fluid">
	<span class="span12" align="center">
		<%= will_paginate @publications, :container => false, :renderer => BootstrapPagination::Rails %>
	</span>
</div>
