//= require_tree .
/* Main global 'theme' and typographic styles */
/* Text elements */
/* Text meant only for screen readers */

	
.clear{
	clear:both;
}

.related_info p {
	text-indent: 2em;
}

#access .menu-header, div.menu, #footer, #main, #wrapper {
	margin: 0 auto;
	width: 960px;
}

#wrapper {
	background: 
	white;
	padding: 0 20px;
	border: 1px solid #D2D2D2;
	margin: 20px auto;
	box-shadow: 2px 2px 2px #D2D2D2;
}

/* Header
-------------------------------------------------------------- */
#header {
	padding: 10px 0 0 0;
}

#logo{
  float:left;
  padding: 25px 0;
  width: 600px;
}
#logo #title {
	font-size: 1.8em;
	font-weight: bold;
	margin-left: 10px;
	line-height: 36px;
	text-shadow:1px 1px 2px #999;
}

#logo #title a {
	font-size: 1.8em;
	font-weight: bold;
	color: #145190;
	font-style: oblique;
	text-decoration: none;
}
#site-description {
	color: #333;
	float: right;
	font-style: italic;
	margin: 0 25px;
	clear:left;
	width: 300px;
	text-shadow:1px 1px 2px #999;
}

/* This is the custom header image */
#logo img {
	clear: both;
	display: block;
}

.btns {
	margin-left: 10px;
	margin-bottom: 10px;
}

/* Search Form
-------------------------------------------------------------- */
#header #searchf{
	float:right;
	margin: 40px 18px 0;
}
/* Footer
-------------------------------------------------------------- */
#footer,.footer {
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	float: right;
	margin: 10px 5px;
	font-size: 11px;
	width: 180px;
}
#site-info a {
	font-style:oblique;
	font-weight:bold;
	text-decoration:none;
}
#site-generator {
	float: left;
	margin: 10px 5px;
	width: 600px;
	font-style: italic;
}
#site-generator a {
	color: #666;
	display: inline-block;
	line-height: 16px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}

.shoppingcart_subject{ display:block; width:601px; height:29px;background:blue;}
.shoppingcart_subject li{ 
	background:#f7f4eb; 
	border-bottom:1px solid #eadbc9; 
	height:28px; 
	*height:27px; 
	*padding-top:1px; 
	line-height:28px; 
	text-align:center; 
	display:block; 
	float:left; 
	color:#8a7152; 
	overflow:hidden;
}
.shoppingcart_subject li.row1{ width:221px;}
.shoppingcart_subject li.row2{ width:200px;}
.shoppingcart_subject li.row3{ width:80px;}
.shoppingcart_subject li.row4{ width:100px;}
.shoppingcart_list li.row1{ width:221px; text-align:left; font-family:"宋体";line-height: 30px;}
.shoppingcart_list li.row2{ width:200px;line-height: 30px;}
.shoppingcart_list li.row3{ width:80px; color:#c30;line-height: 30px;}
.shoppingcart_list li.row4{ width:100px;line-height: 30px;}

/*普通商品行*/
.shoppingcart_list{ clear:both; width:601px;}

.shoppingcart_list li {
	border-bottom:1px solid #e1e1e1;
	height: 30px;
	float: left;
	display:block;
	font: 12px "宋体";
	text-align: center;
}

/*订单*/
.ordert_subject li.row1{ width:221px;}
.ordert_subject li.row2{ width:200px;}
.ordert_subject li.row3{ width:80px;}
.ordert_subject li.row4{ width:100px;}
.ordert_subject li.row5{ width:100px;}
.ordert_list li.row1{ width:221px; text-align:left; font-family:"宋体";line-height: 30px;}
.ordert_list li.row2{ width:200px;line-height: 30px;}
.ordert_list li.row3{ width:80px; color:#c30;line-height: 30px;}
.ordert_list li.row4{ width:100px;line-height: 30px;}


#tbl_myAudit {
	width: 600px;
}
